.form            {
    background-color: orange;
    float: left;
    height: 300px;
    width:  300px;
}
.profile        {
    height: 200px;
    width: 200px;
}
.gallery       {
    width:50%;
    height:50%;
    background-color:blue;
    overflow-y: auto;
    overflow-y: scroll;
}
.gallery img      {
    width: 60%;
    height: 60%;
    border:1px solid #021a40;
}
.home           {
    display: inline;
}

.avatar    img     {
    height: 20%;
    width: 20%;
}

.stickers_      {
    background-color: pink;
    height: 300px;
    width: 300px;
    clear: left;
}

.stickers_ img      {
    width: 40%;
    height: 40%;
    border:1px solid #021a40;
}

.stickers_ img:hover{
    border: 3px solid blue;
}

.stickers_ img:focus{
    color: blue;
}