.form            {
    background-color: orange;
    float: left;
    height: 300px;
    width:  300px;
}
.profile        {
    height: 200px;
    width: 200px;
}
.gallery       {
    width:50%;
    height:50%;
    background-color:blue;
    overflow-y: auto;
    overflow-y: scroll;
}
.gallery img      {
    width: 30%;
    height: 30%;
    border:1px solid #021a40;
}
.home           {
    display: inline;
}

.avatar    img     {
    height: 20%;
    width: 20%;
}

.stickers_      {
    clear: left;
}

.stickers_ img      {
    width: 20%;
    height: 20%;
    border:1px solid #021a40;
}

img     {
    height: 30%;
    width: 30%;
}