.form            {
    background-color: orange;
    height: 300px;
    width:  300px;
}
.profile        {
    height: 200px;
    width: 200px;
}
.gallery       {
    width:  100%;
    height: 400px;
    overflow-y: auto;
    overflow-y: scroll;
}
.gallery img      {
    width: auto;
    height: 50%;
    border:1px solid #021a40;
}

.gallery img:hover{
    cursor: default;
}
.avatar    img     {
    height: 15%;
    width: 15%;
}

.stickers_      {
    clear: left;
}

.stickers_ img      {
    width: auto;
    height: 80px;
    border:1px solid #021a40;
    float: right;
}

img     {
    height: 30%;
    width: 30%;
}

.gall_zone  {
    height: 40%;
    width: 40%;
    float: right;
}

.user       {
    font-size: 30px;
}

.modal video{
    height: 250px;
    width: auto;
}

.modal-body .img_  {
    height: 250px;
    width: auto;
}

.Uploads    {
    height: 100%;
    width: 400px;
    background-color: #FFE2D0;
    float: right;
}